/* MOBILE ACCORDION */
.accordion {
  border: 1px dashed #F58220;
  border-radius: 6px;
}
.acc-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.45s ease, opacity 0.35s ease, padding 0.35s ease;
  opacity: 0;
  border-top: 1px dashed #F58220;
  padding: 0; /* remove all padding when closed */
}
.acc-content.open {
  opacity: 1;
  max-height: 500px;
  padding: 1rem; /* restore padding when open */
}
.icon svg {
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.35s ease;
}
.rotate-up svg {
  transform: rotate(-180deg);
}

/* DESKTOP TABS */
.corporatetab-content {
  transition: opacity 0.45s ease, transform 0.45s ease;
}
button{
  left:-15px;
  position: relative;
  transition: all .3s ease-in-out;
}
button:not(.active-tab):hover {
    color: #fff !important;
    background: linear-gradient(
      32deg,
      rgba(59, 186, 226, 1) 0%,
      rgba(0, 1, 138, 1) 100%
    );
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    position: relative;
    left:-15px;
    cursor: pointer;
  }
/* Active tab style */
button.active-tab {
  background: linear-gradient(32deg, rgba(0,1,138,1) 0, rgba(59,186,226,1) 100%);
  color: white !important;
  left: -15px;
    position: relative;
}
@media (max-width: 768px) {
button.active-tab, button {
   left: 0px;
   border-radius: 5px 5px 0 0;
   background: transparent;
   color:#F58220!important;
}
button:not(.active-tab):hover {
   left: 0px;
    background: transparent;
     color:#F58220!important;
}
}