.no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { scrollbar-width: none; }

  #tabs button { flex: 1; }

  .gradient_blue_bg {
    background: #3BBAE2;
    background: linear-gradient(337deg, rgba(59, 186, 226, 1) 0%, rgba(0, 1, 138, 1) 100%);
  }

  .gradient-text {
    background: linear-gradient(90deg, #3BBAE2, #00018A);
    -webkit-background-clip: text;
    color: transparent;
  }